li a {
    color: white;
}
html, body {
    background-image: url("/images/background.gif");
    height: 100%;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    background: black;
} 
.iframe {
    
    bottom: 0px;
    
}