{% extends 'personal/base.html' %}
{% load static %}
{% block content %}
<style>
    textarea {
        background-color: black !important;
    }

    .card{

        margin-bottom: 10 !important;

    }
    .python{

        padding-left: 5%;

    }
    .ovf{

        overflow: "scroll" !important;

    }
    .btn{
        margin: 5px;
    }

</style>
<script>hljs.initHighlightingOnLoad();</script>
<div class="card">
    <div class="card-header" style="color:black">
        <div class="row">
            <div class="col align-self-left">
                Blog Post Test
            </div>
        </div>
    </div>
    <div class="card-body">
        <pre><code id="binAddCode" class="python" style="background-color: white">

import keras
from time import time
from keras import layers
from keras import backend as K
import tensorflow as tf

from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array
from keras.preprocessing.image import array_to_img

from os import listdir
from os.path import isfile, join

import matplotlib.pyplot as plt
import numpy as np

mypath = '/pokemon_img_jpg'

df = []
for f in listdir(mypath):
  if '-' not in f:
    if isfile(join(mypath, f)):
      try:
        arr_img = img_to_array(load_img(join(mypath, f)))
        df += [arr_img, np.flipud(arr_img), np.fliplr(arr_img), np.fliplr(np.flipud(arr_img)), np.rot90(arr_img), np.rot90(arr_img, k=3)]
        ones = np.ones_like(arr_img)
        zeroes = np.zeros_like(arr_img)
        twofiftyfives = ones*255
        df += [np.minimum(twofiftyfives, arr_img + i*ones) for i in range(4, 9, 4)]
        df += [np.maximum(zeroes, arr_img - i*ones) for i in range(4, 9, 4)]

      except FileNotFoundError as e:
        print(e)
print(len(df))
df = np.asarray(df)
np.random.shuffle(df)

x_train = df

x_train.shape[1:]

activation = 'selu'
init = keras.initializers.LecunNormal()

encoder_inputs = keras.Input(shape=x_train.shape[1:])

conv_1_1 = layers.Conv2D(128, 16, strides=4, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(encoder_inputs)
pool_1 = layers.MaxPooling2D(2, strides=1)(conv_1_1)
norm_1 = layers.BatchNormalization()(pool_1)

conv_2_1 = layers.Conv2D(64, 8, strides=2, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(norm_1)
pool_2 = layers.MaxPooling2D(2, strides=1)(conv_2_1)
norm_2 = layers.BatchNormalization()(pool_2)

conv_3_1 = layers.Conv2D(64, 4, strides=2, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(norm_2)
pool_3 = layers.MaxPooling2D(2, strides=1)(conv_3_1)
norm_3 = layers.BatchNormalization()(pool_3)

conv_4_1 = layers.Conv2D(32, 4, strides=2, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(norm_3)
pool_4 = layers.MaxPooling2D(2, strides=2)(conv_4_1)
norm_4 = layers.BatchNormalization()(pool_4)

conv_5_1 = layers.Conv2D(16, 2, strides=1, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(norm_4)
pool_5 = layers.MaxPooling2D(2, strides=2)(conv_5_1)
norm_5 = layers.BatchNormalization()(pool_5)

flatten = keras.layers.Flatten()(norm_5)

encoder_outputs = keras.layers.Dense(512, activation=activation, kernel_initializer=init, bias_initializer=init)(flatten)

encoder = keras.Model(inputs = encoder_inputs, outputs=encoder_outputs, name='encoder')

decoder_inputs = keras.Input(shape=encoder.output_shape[1:])

dec_dense_1 = keras.layers.Dense(1024, activation=activation, kernel_initializer=init, bias_initializer=init)(decoder_inputs)
dec_reshape_1 = layers.Reshape((32,32,1))(dec_dense_1)
dec_up_1 = layers.UpSampling2D(2)(dec_reshape_1)

dec_conv_1_1 = layers.Conv2D(64, 4, strides=1, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_up_1)
dec_up_2 = layers.UpSampling2D(2)(dec_conv_1_1)

dec_conv_2_1 = layers.Conv2D(64, 8, strides=2, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_up_2)
dec_up_3 = layers.UpSampling2D(2)(dec_conv_2_1)

dec_conv_3_1 = layers.Conv2D(32, 8, strides=2, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_up_3)
#dec_conv_2_2 = layers.Conv2D(32, 4, strides=1, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_conv_2_1)
dec_up_4 = layers.UpSampling2D(2)(dec_conv_3_1)

dec_conv_4_1 = layers.Conv2D(32, 4, strides=1, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_up_4)
dec_up_5 = layers.UpSampling2D(2)(dec_conv_4_1)

decoder_outputs = layers.Conv2D(3, 2, strides=1, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_up_5)
#decoder_outputs = layers.Conv2D(3, 2, strides=1, padding='same', activation=activation, kernel_initializer=init, bias_initializer=init)(dec_conv_4_2)

decoder = keras.Model(inputs = decoder_inputs, outputs = decoder_outputs, name='decoder')

decoder.summary()

conv_autoencoder = keras.Model(inputs=encoder.input, outputs=decoder(encoder.outputs))
conv_autoencoder.summary()

conv_autoencoder.compile(optimizer='adam', loss=keras.losses.mean_squared_error)

model_save_path = join(mypath, 'autoencoder-1-17-10-46')

if isfile(model_save_path):
  conv_autoencoder = keras.models.load_model(model_save_path)
  K.set_value(conv_autoencoder.optimizer.learning_rate, 7e-4)

conv_autoencoder.fit(x_train, x_train, batch_size=16, epochs=25, validation_split=.1, verbose='auto')

conv_autoencoder.save(model_save_path)
print(model_save_path)

inds = [0, 1, 2, 3, 4, 5, 6]
ncols = len(inds)
nrows = 2
fig = plt.figure(figsize=(ncols,nrows), dpi=300)

for i in inds:
  ax = fig.add_subplot(nrows, ncols, i + 1)
  ax.axes.xaxis.set_ticks([])
  ax.axes.yaxis.set_ticks([])
  prediction = encoder.predict( np.array( [x_train[inds[i]],] )  )
  decoded = decoder.predict(prediction)
  plt.imshow(array_to_img(decoded[0]))
  ax = fig.add_subplot(nrows, ncols, i + 1 + ncols)
  ax.axes.xaxis.set_ticks([])
  ax.axes.yaxis.set_ticks([])
  plt.imshow(array_to_img(x_train[inds[i]]))
        </code></pre>
    </div>
    <div class="card-body" style="color:black">
        <h5 class="card-title">Output:</h5>
        <img src="/personal/img/CNN_AE_out.png">
        <img src="/img/CNN_AE_out.png">
    </div>
</div>
{% endblock %}