{% extends 'personal/base.html' %}

{% block nav_items %}

{% endblock %}

{% block content %}
<script>hljs.initHighlightingOnLoad();</script>
<pre><code class="python">
  from math import ceil
  from math import sqrt
  import time
  
  def checkPrime(x):
    j = ceil(sqrt(x))
    i = 2
    while i <= j:
        if x%i == 0:
            return False
        i+=1
    return True

  start = time.time()
  i = 0
  arr = 0
  primes=0

  while(primes<1000000):
      if checkPrime(i):
          primes+=1
          arr = i
      i+=1
  print(arr, time.time()-start)

</code></pre>
{% endblock %}