{% extends 'personal/base.html' %}

  {% block nav_items %}

    <li class="nav-item">
      <form method="post" class="nav-link">
        {% csrf_token %}
        <label for="dest">Go to user profile:</label>
        <input type="text" id="dest" name="dest" value="John">
        <input type="submit" value="Go">
      </form>
    </li>
  {% endblock %}
{% block content %}
  <script>
    window.onload = function(){
        var button = document.getElementById("clickme");
        var intervalId = setInterval(function(){
            //date = new Date();
            var count = Date.now();
            button.innerHTML = "Globe spin count: " + count;
        }, .001);
    };
  </script>
  <button id="clickme">Globe spin count: #</button>
{% endblock %}



