{% extends 'personal/base.html' %} {% load static %} {% block content %}

<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>

<style>
    .c6{
        font-weight: bold;
    }
    .c19{

        font-size: 110%;
        font-weight: bold;

    }
    .c1{
        align-content: center;

    }
    hr{
        background-color: white;

    }
    .c3{
        font-style:italic;

    }
</style>

<body class="c22">
    <div>
        <p class="c0 c8">
            <span class="c7"></span>
        </p>
    </div>
    <p class="c1">
        <span class="c17">Jay </span>
        <span class="c17">Rothenberger</span>
    </p>
    <p class="c1">
        <span class="c2">7521 Spring Branch Lane, Greenwood, VA, 22943</span>
    </p>
    <p class="c1">
        <span class="c6 c20">
            <a class="c23" href="mailto:jay.c.rothenberger@gmail.com">jay.c.rothenberger@gmail.com</a>
        </span>
        <span class="c6">&nbsp;/ </span>
        <span class="c3">(434)-282-4639</span>
    </p>
    <p class="c1">
        <a href="http://jayRothenberger.com/"><span class="c6">http://jayRothenberger.com/</span></a>
    </p>
    <p class="c0">
        <span class="c9 c19">Education</span>
    </p>
    <hr>
    <p class="c0 c8">
        <span class="c24 c2"></span>
    </p>
    <a id="t.1832ff641d09872519b8c725bf4b4b8d6f58bbeb"></a>
    <a id="t.0"></a>
    <table class="c16">
        <tbody>
            <tr class="c26">
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0">
                        <span class="c3">University of Virginia, Charlottesville, VA: August 2017 - May 2021</span>
                    </p>
                    <p class="c0">
                        <span class="c3">School of Engineering and Applied Science</span>
                    </p>
                    <p class="c0">
                        <span class="c2">B.S. in </span>
                        <span class="c6">Computer Science</span>
                        <span class="c2">&nbsp;B.A. </span>
                        <span class="c6">Mathematics</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c10">
        <span class="c19">Relevant Coursework</span>
        <span class="c3">&nbsp;</span>
    </p>
    <hr>
    <p class="c10 c27">
        <span class="c6">Computer Science</span>
        <span class="c9 c2">:</span>
    </p>
    <p class="c10 c14">
        <span class="c9 c2">Theory of Computation, Data Structures and Representation, Discrete Mathematics, Advanced Software Development, Computer
            Architecture, Algorithms, Computer Networks, Machine Learning, and Learning Theory.</span>
    </p>
    <p class="c10 c27">
        <span class="c6">Mathematics</span>
        <span class="c9 c2">:</span>
    </p>
    <p class="c10 c14">
        <span class="c9 c2">Multivariable Calculus, Probability, Basic Real Analysis, Linear Algebra, Ordinary Differential Equations, Combinatorics,
            Abstract Algebra, and Numerical Analysis.</span>
    </p>
    <p class="c0">
        <span class="c19">Relevant Experience</span>
        <hr>
    </p>
    <a id="t.8ea3c3d269bba039a8a2862cb1336d3a7718d3f9"></a>
    <a id="t.1"></a>
    <table class="c16">
        <tbody>
            <tr class="c21">
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c0">
                        <span class="c3">Full-Stack Mobile Application Developer, </span>
                    </p>
                    <p class="c0">
                        <span class="c9 c2">Charlottesville, VA</span>
                    </p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c4">
                        <span class="c9 c2 c6">UVA Health System Software Development Team</span>
                    </p>
                    <p class="c4">
                        <span class="c9 c2">June 2018- August 2019</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="c13 lst-kix_r1qwpvbvj5fl-0 start">
        <li class="c10 c12">
            <span class="c9 c2">Pitched and developed public semi-anonymous platform to coordinate safe walks home in groups at UVA </span>
        </li>
        <li class="c10 c12">
            <span class="c9 c2">&nbsp;Used Cordova/HTML/JS/CSS frontend, Apache 2/Node.js/MySQL backend on an AWS server running Ubuntu</span>
        </li>
        <li class="c10 c12">
            <span class="c2">Gained experience with web development and server management, as well as the Agile development process</span>
        </li>
    </ul>
    <a id="t.4d2ad7a5bdf073f8dc84443ed8dde9fcdb2c1fba"></a>
    <a id="t.2"></a>
    <table class="c16">
        <tbody>
            <tr class="c21">
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c0">
                        <span class="c3">Theory of Computation Teaching Assistant, </span>
                    </p>
                    <p class="c0">
                        <span class="c9 c2">Charlottesville, VA</span>
                    </p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c4">
                        <span class="c9 c2 c6">University of Virginia</span>
                    </p>
                    <p class="c4">
                        <span class="c2 c9">August 2019- May 2020</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="c13 lst-kix_r1qwpvbvj5fl-0">
        <li class="c10 c12">
            <span class="c9 c2">Helped develop the new grading system for the Computer Science curriculum</span>
        </li>
    </ul>
    <p class="c0">
        <span class="c9 c19">Personal Projects</span>
    </p>
    <hr>
    <p class="c0 c8">
        <span class="c9 c2"></span>
    </p>
    <p class="c0">
        <a href="http://www.jayrothenberger.com/riotDashboard/" ><span class="c3">Video Game performance Dashboard</span></a>
    </p>
    <ul class="c13 lst-kix_va1k9nsizskk-0 start">
        <li class="c0 c12">
            <span class="c9 c2">A summary of my recent games of League of Legends populated by data from Riot’s API and Data Dragon game data utility.</span>
        </li>
    </ul>
    <p class="c0">
            <a href="http://www.jayrothenberger.com/krogerDashboard/" ><span class="c3">Purchase Value Maximizer</span></a>
    </p>
    <ul class="c13 lst-kix_c7d4332ydtrn-0 start">
        <li class="c0 c12">
            <span class="c9 c2">A program that takes in a zip code, and using price data from Kroger’s API and product data from a personal database calculates the best value grocery store alcohol in that zip.</span>
        </li>
    </ul>
    <p class="c0 c8 c15">
        <span class="c9 c2"></span>
    </p>
    <p class="c0 c18">
        <span class="c9 c19">Technical Proficiencies </span>
    </p>
    <hr>
    <p class="c0 c8">
        <span class="c9 c2"></span>
    </p>
    <p class="c0">
        <span class="c6">Languages</span>
        <span class="c9 c2">: C++, Java, Javascript, Python, CSS, HTML, SQL, Bash, jQuery, MATLAB</span>
    </p>
    <p class="c0">
        <span class="c6">Relevant platforms: </span>
        <span class="c9 c2">Keras, Tensorflow, MySQL, Mathematica, Git, SciKit</span>
    </p>
    <p class="c0">
        <span class="c6">OS</span>
        <span class="c9 c2">: Ubuntu (server and desktop), Fedora Workstation by Red Hat, Windows, iOS, OSX, Android, Raspbian</span>
    </p>
    <div>
        <p class="c0 c8">
            <span class="c7"></span>
        </p>
    </div>
</body>

</html>
{% endblock %}